<footer class=" bg-light darken-3 page-footer">
  <div class="footer-copyright">
    <div class="container">
      © 2020 | Learning Dollars | Software Engneer | Bongomin Daniel |
      <a class="grey-text text-lighten-4 right" href="http://bongomindaniel.000webhostapp.com/">
        <img src="/img/danny.jpg" width="40px;" height="40px;" class=" circle img-responsive" style="" alt="storyBooks">
      </a>
    </div>
  </div>
</footer>