   <footer class=" blue darken-3 page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Story | Books </h5>
                <p class="grey-text text-lighten-4">Share Your Story Life With The World </p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/stories">Public Stories</a></li>
                  <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
                  <li><a class="grey-text text-lighten-3" href="/contact">Contact</a></li>
                  <li><a class="grey-text text-lighten-3" href="/help">Help</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Copyright | <small>Bongomin Daniel</small>
            <a class="grey-text text-lighten-4 right" href="http://bongomindaniel.000webhostapp.com/"> 
            <img src = "/img/danny.jpg" width="40px;" height="40px;"  class = " circle img-responsive" style="" alt = "storyBooks">
            Developers Bio
            </a>
            </div>
          </div>
        </footer>
            