<nav class="navbar navbar-light bg-light">
  <div class="container">
    <div class=" blue nav-wrapper">

      <a href="/" class="brand-logo center"> <img src="/img/storyBooks.png" width="300px;" "  class = " img-responsive"
          style="margin: 3px" alt="Share story"> <span style="margin-bottom: 100px"></span> </a>
      <a href="#" data-activates="main-menu" class="button-collapse show-on-large"><i class="fa fa-bars"></i></a>
      <!-- RIGHT NAV -->
      <ul class="right hide-on-small-only">
        {{#if user}}
        <li><a href="/dashboard">Welcome &nbsp <i class="fa fa-user" aria-hidden="true"></i> : {{user.firstName}}</a>
        </li>
        <li><a href="/auth/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
        {{else}}
        <li><a href="/stories"><i class="fa fa-book"></i> Public Stories</a></li>
        {{/if}}
      </ul>
      {{!-- Side Menu --}}
      <ul class="side-nav" id="main-menu">
        {{#if user}}

        {{else}}
        <a href="/auth/google" class=" btn light darken-1" style="margin-bottom: 10px;">
          <img src="/img/googlelogo.png" width="30px;" "  class = " img-responsive" />
          &nbsp Login With Google
        </a>
        {{/if}}
        <li><a href="/stories"><i class="fa fa-book"></i> Public Stories</a></li>
        {{#if user}}
        <li class="divider"></li>
        <li><a href="/dashboard"><i class="fa fa-cog"></i> Dashboard</a></li>
        <li class="divider"></li>
        <li><a href="/stories/my"><i class="fa fa-user"></i> My Stories</a></li>
        <li class="divider"></li>
        <li><a href="/auth/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>