<div class="row" style="margin-top:80px">
   <h4>Welcome to Share | Story</h4>
   <hr>
   <p style="font-size: 17px;">Post Your best and Worst Life experience in your Your life (It can be in Your
      Career,Marriage,School or daily life
      Expiriences ) and choose to share it with the world or to be your Private Diary.</p>

   {{#if user}}
   {{else}}
   <a href="/auth/google" class=" btn light darken-1" style="margin-bottom: 10px;">
      <img src="/img/googlelogo.png" width="30px;" "  class = " img-responsive" />
      &nbsp Login With Google
   </a>
   {{/if}}
</div>