
<h4>Welcome to storyBooks</h4>
<hr>
<p>Post Your best and Worst Life experience in your Your life (It can be in Your Career,Marriage,School or daily life Expiriences ) and choose to share it with the world or to be your Private Diary.</p>

{{#if user}}
{{else}}
<a href="/auth/google" class=" btn blue darken-1"><i class="fa fa-google left"></i>&nbsp Login With Google</a>
{{/if}}